.footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.my-alert {
    width: 40%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}